<nav class="navbar navbar-expand-lg navbar-light flex-shrink-0 {{ include.class }}">
    <div class="container-lg">
        <a
            href="/"
            class="navbar-brand infotorg-developer-logo"
        >
            <img
                src="{{ 'assets/images/infotorg-developer.png' | relative_url }}"
                srcset="{{ 'assets/images/infotorg-developer@2x.png' | relative_url }} 2x,
                {{ 'assets/images/infotorg-developer@3x.png' | relative_url }} 3x"
                width="232"
                height="40"
                alt="infotorg developer"
            />
        </a>
        {% if page.show_navigation %}
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}

        <div class="header-info-wrapper d-none d-lg-block pt-4">
            {% include title.html %}
        </div>

        {% if page.show_navigation %}
        <div
            id="navbarNav"
            class="mcollapse navbar-collapse collapse"
        >
            {% comment %}
              *  Items will contain only visible elements
            {% endcomment %}
            {% assign items = site.data.navigation | where:'show', true %}
            {% assign sub_items = site.data.sub-navigation %}

            <ul class="navbar-nav ml-auto">
                {% for item in items %}
                    <li class="nav-item">
                        {% if item.link contains '://' %}
                            {{ # External link }}
                            {% assign item_url = item.link %}
                        {% else %}
                            {{ # Internal link }}
                            {% assign item_url = item.link | prepend: site.baseurl %}
                        {% endif %}
                        <a
                            href="{{ item_url }}"
                            class="nav-link{% if page.url == item.link %} active{% endif %}"
                            {% if item.target %}target="{{ item.target }}"{% endif %}
                        >
                            {{ item.name }}
                        </a>
                        <!-- Sub navigation for mobile view -->
                        {% if item.sub-navigation == true %}
                            {% assign page-title = page.api-page-title %}
                            {% assign api-page-version = page.api-page-version %}
                            {% assign versions = sub_items[item.type].versions | where:'show', true %}
                            <ul>
                                {% for version in versions %}
                                <li>
                                    <span>{{ version.title }}</span>
                                    <ul>
                                        {% for page in version.pages %}
                                        <li>
                                            <a
                                                href="{{ site.baseurl }}/{{ item.type }}/{{ version.link }}/{{ page[1].title }}"
                                                class="{% if page-title == page[1].title and api-page-version == version.link %}active{% endif %}"
                                            >
                                                {{ page[1].title | capitalize }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
