{% assign services = site.data.services | where:'show', true %}

<div
    id="services-list"
    class="accordion accordion-flush"
>
    {% for item in services %}
    <div class="accordion-item">
        <h2
            id="heading-{{ forloop.index }}"
            class="accordion-header"
        >
            {% assign icon_path = "/assets/images/icons/services/" | prepend: site.base.url | append: item.icon %}

            {% for static_file in site.static_files %}
                {% if static_file.path == icon_path %}
                    {% assign icon_exists = true %}
                {% endif %}
            {% endfor %}

            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-{{ forloop.index }}"
                aria-expanded="false"
                aria-controls="collapse-{{ forloop.index }}"
            >
                <span class="service-icon">
                    {% if icon_exists == true %}
                    <img src="{{ icon_path }}">
                    {% endif %}
                </span>

                {{ item.name }}
            </button>
        </h2>
        <div
            id="collapse-{{ forloop.index }}"
            class="collapse"
            aria-labelledby="heading-{{ forloop.index }}"
        >
            <div class="accordion-body">
                {{ item.info }}

                {% if item.url %}
                <p>
                    {{ # Link to a documentation page }}
                    <a
                        href="{{ item.url }}"
                        class="btn btn-outline-primary"
                        role="button"
                    >
                        {{ item.name }} API pages
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
