---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "variables";
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap_variables";
@import 'bootstrap';
@import 'typography';

@import 'includes/header';
@import 'includes/navigation';
@import 'includes/sub-navigation';
@import 'includes/hero';
@import 'includes/footer';
@import 'includes/services-list';

// Main content
.bg-cube {
    height: 55px;
    margin-top: 36px;
    margin-bottom: 32px;

    background-image: url("../images/cube.svg");
    background-size: 48px;
    background-repeat: no-repeat;
}

@include media-breakpoint-up(lg) {
    .bg-cube {
        height: 75px;
        margin-top: 94px;
        margin-bottom: 72px;
        background-size: 65px;
        margin-left: -32px;
    }
}

.welcome-description {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.table thead > tr > th {
    vertical-align: middle;
}

.action-go {
    padding: 10px 16px;
    margin-right: 20px;
}
.action-go:after {
    display: inline-block;
    content: "";
    width: 28px;
    height: 29px;
    background-image: url('../images/icons/action-go.svg');
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;
}
.action-go:hover:after {
    background-image: url('../images/icons/action-go-outline.svg');
}
.code-example {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #008487;
    color: #696969;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0.5em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}


.btn {
    background-color: #cecece;
}

blockquote: {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #008487;
    color: #696969;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0.5em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
