.hero-section {
    background-color: #dfe3e6;
    background-image: url('../../assets/images/it-gears.svg');
    background-repeat: no-repeat;
    padding: 20px 0;
    margin-bottom: 1.3rem;
    background-position: right top;
    background-size: 40%;
}
