.sub-navigation {
    margin-top: -20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #979797;
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
    }

    &__title {
        color: $color-calm-grey-darkest;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0;
    }

    &__list {
        display: none;
        list-style: none;
        margin-bottom: 0;

        &.active {
            display: flex;
        }
    }

    &__item {
        margin-left: 16px;
        margin-right: 16px;
    }

    &__link {
        color: $color-clear-blue;
        font-weight: 500;
        font-size: 16px;

        &.active {
            background-color: $color-navy-blue;
            color: white;
            text-decoration: none;
            padding: 8px 24px;
            border-radius: 24px;
        }
    }
}
