<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% seo %}

    {% include head-fonts.html %}
    {% include head-app-css.html %}
    {% include head-favicon.html %}

    {% include head-google-analytics.html %}

    {% if site.swaggerui_theme and site.swaggerui_theme != '' %}
    <link rel="stylesheet" type="text/css" href="assets/css/swagger-ui/3.x/theme-{{ site.swaggerui_theme }}.css">
    {% else %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css">
    {% endif %}
</head>
<body class="d-flex flex-column h-100">
<!-- Navigation -->
{% include navigation.html class="mb-0" %}

<section class="hero-section d-block d-lg-none">
    <div class="container-fluid">
        {% include title.html %}
    </div>
</section>

<!-- Main content -->
<main class="flex-shrink-0 mt-0 pt-0">
    <div class="container-fluid">
        {{ content }}
        <div id="swagger-ui"></div>
    </div>
</main>

{% if page.show_cube_bg == true %}
<div class="flex-shrink-0 container">
    <div class="bg-cube"></div>
</div>
{% endif %}

<!-- Footer -->
{% include footer.html %}

<script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-standalone-preset.js"></script>
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js" charset="UTF-8"></script>
<script>
    window.onload = function() {
        // Build a system
        window.ui = SwaggerUIBundle({
            url: '{{ page.openapi | default: site.openapi | relative_url }}',
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout",
        });
    }
</script>
</body>
</html>
